%script{:type => "text/javascript", :src  => "http://code.jquery.com/jquery-1.8.3.min.js"}
%script{:type => "text/javascript", :src  => "http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"}
- unless @pokemon.nil?
	#pokemon-info
		%img{:src => @pokemon.image, :height => "250px"}
		%br
		= "Name: #{@pokemon.name}"
		%br
		= "Number: #{@pokemon.number}"
		%br
		= "Types: #{@pokemon.types}"
- else
	#gir-image
		%img{:src => "images/girkachu.png"}
		%br
		= "I don't know that Pokemon."
		- unless Pokemon.count == 0
			%br
			= "How about '#{Pokemon.all.sort_by{rand}.first.name}?'"
#search
	Search for another Pokemon.
	#search-box
		%form{:action => "search", :method => "POST", :id => "pokemon-search"}
			%input{:type => "text", :id => "pokemon-input", :name => "pokemon", :class => "span3", "data-provide"=>"typeahead", "data-items"=>"10", "autocomplete"=>"off", :autofocus => "", :placeholder => "Find a Pokemon...", "data-source" => Pokemon.only(:name).map {|x| x.name}}
			%input{:type=>"submit", :class => "btn btn-small", :style => "margin-bottom: 10px; font-weight: bold;", :value => "Search"}